<template>
    <div class="container row">
        <div class="container firstHalf col-6 pt-3">
            <div class="pt-5">
                <h3 class="fw-bold pt-5">
                    Turn clutter into cash <br>
                    with PeerSell
                </h3>
                <div>
                    <carousel-3d>
                        <slide :index="0">
                            Slide 1 Content
                        </slide>
                        <slide :index="1">
                            Slide 2 Content
                        </slide>
                    </carousel-3d>
                </div>
            </div>

        </div>


        <div class="container col-6"></div>
    </div>
</template>

<script>
import { Carousel3d, Slide } from 'vue-carousel-3d';
export default {
    name: 'LogIn',
    components: {
        Carousel3d,
        Slide,
    }
}
</script>