<template>
  <div>
  <LogIn/>

  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
<script>
import LogIn from './views/login.vue';
export default {
  name: 'App',
  components:{
    LogIn,
  }
}
</script>


